~$Datasheet.xlsx

walcher-IPad von Moritz.pdf

41/Tex/main.log
41/Tex/main.pdf
41/Tex/main.pdf
41/Tex/main.log

45/Tex/main.aux
45/Tex/main.fdb_latexmk
45/Tex/main.fls
45/Tex/main.log
45/Tex/main.out
45/Tex/main.pdf
45/Tex/main.synctex.gz